QAbstractItemView
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0.1 #646464, stop: 1 #5d5d5d);
}

QCheckBox {
    color:#9c9c9c;
    font-size:9px;
}

QCheckBox::indicator:checked {
    image: url(:/pictos/checked.png);
}

QCheckBox::indicator:checked:hover {
    image: url(:/pictos/checked_hover.png);
}

QCheckBox::indicator:unchecked {
    image: url(:/pictos/unchecked.png);
}

QCheckBox::indicator:unchecked:hover {
    image: url(:/pictos/unchecked_hover.png);
}

QCheckBox#arrow {
    background-color:transparent;
}

QCheckBox#arrow::indicator:checked {
    image: url(:/pictos/arrow_opened.png);
}

QCheckBox#arrow::indicator:unchecked {
    image: url(:/pictos/arrow_closed.png);
}

QComboBox {
    background-color:#3a3a3a;
    height:26px;
    border: 1px solid #5F5F5F;
    border-radius:3px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px;
    border-left-width: 0px;
}

QComboBox::down-arrow {
    image: url(:/pictos/down-arrow.png);
}

QComboBox::up-arrow {
    image: url(:/pictos/up-arrow.png);
}

QComboBox QAbstractItemView {
    background-color:#3a3a3a;
    border: 1px solid #5F5F5F;
    selection-background-color: #505050;
}

QDial {
    background-color: #4C4C4C;
}

QDialog {
    background-color:#3a3a3a;
}

QDockWidget {
    background-color:#3a3a3a;
    border: 1px solid lightgray;
    titlebar-close-icon: url(close.png);
    titlebar-normal-icon: url(undock.png);
}

QDockWidget::title {
    padding-left:5px;
    padding-top:5px;
    font:bold;
    font-size:30px;
    background-color: #3a3a3a;
    border : 0px solid transparent;
}

QDoubleSpinBox {
    border-radius:2px;
    border:1px solid #5f5f5f;
    background-color:#2c2c2c;
    font:bold;
    color:#e75f00;
    min-height:26px;
    min-width:60px;
}

QDoubleSpinBox:hover {
    border:1px solid #e75f00;
}

QDoubleSpinBox::down-button {
     subcontrol-origin: border;
     subcontrol-position: bottom right;
     width: 14px;
     border-width: 0px;
     margin-bottom:3px;
     margin-right:3px;
 }

QDoubleSpinBox::up-button {
     subcontrol-origin: border;
     subcontrol-position: top right;
     width: 14px;
     border-width: 0px;
     margin-top:3px;
     margin-right:3px;
 }

QDoubleSpinBox::down-arrow {
    image: url(:/pictos/down-arrow_off.png);
}

QDoubleSpinBox::up-arrow {
    image: url(:/pictos/up-arrow_off.png);
}

QDoubleSpinBox::down-arrow:hover {
    image: url(:/pictos/down-arrow.png);
}

QDoubleSpinBox::up-arrow:hover {
    image: url(:/pictos/up-arrow.png);
}

QFrame#groupline {
    background-color:#333333;
}

QFrame#line {
    background-color:#2c2c2c;
}

QFrame#view {
    background-color:#1C1C1C;
}

QGroupBox {
    background-color:#404040;
    border-radius:3px;
    border: 1px solid #101010;
}

QHeaderView::section {
    background-color:#3a3a3a;
}

QHeaderView::down-arrow {
    image: url(:/pictos/down-arrow.png);
}

QHeaderView::up-arrow {
    image: url(:/pictos/up-arrow.png);
}

QLabel#bigLabel {
    font:bold;
    font-size:10px;
    color:#9c9c9c;
}

QLabel#dialinfo {
    color:#9c9c9c;
    font-size:9px;
}

QLabel#image {
    border: 1px solid #1C1C1C;
}

QLabel#title {
    font:bold;
    color:#9c9c9c;
    font-size:14px;
}

QLineEdit {
    border-radius:2px;
    border:1px solid #1C1C1C;
    background-color:#3a3a3a;
    font:bold;
    color:#e75f00;
}

QMainWindow {
    background-color:#242424;
    font-size:9px;
}

QMenu{
    background-color: #3a3a3a;
    border: 1px solid black;
    font:bold;
}

QMenu::item {
    background-color: transparent;
}

QMenu::item:selected {
    background-color: #454545;
}

QMenuBar {
    background-color: #1C1C1C;
    font:bold;
}

QPushButton {
    background-color:#4C4C4C;
    color:#1C1C1C;
    font:bold;
    height:26px;
    border: 1px solid #5F5F5F;
    border-radius:3px;
    padding-left:5px;
    padding-right:5px;
}

QPushButton:checked {
    background:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.05 #e79e11,stop: 0.15 #e75f00,stop: 1 #d55400);
    border: 1px solid #e75f00;
    color:#2e2e2e;
}

QPushButton:hover {
    border: 1px solid #e75f00;
}

QPushButton:pressed {
    background:qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.05 #e79e11,stop: 0.15 #e75f00,stop: 1 #d55400);
    color:#2e2e2e;
}
QPushButton#tiny {
    border-radius:2px;
}

QScrollArea#scroll {
    background-color:#3a3a3a;
    border-radius:2px;
}

QScrollBar:horizontal {
    border: 1px solid #171717;
    background: #404040;
    height: 15px;
    margin-top: 0px;
    margin-right:21px;
    margin-left: 21px;
    margin-bottom:0px;
    border-radius:2px;
}

QScrollBar:vertical {
    border: 1px solid #171717;
    background: #404040;
    width: 15px;
    margin-top: 21px;
    margin-right:0px;
    margin-left: 0px;
    margin-bottom:21px;
    border-radius:2px;
}

QScrollBar::handle {
    border: 1px solid #4E4E4E;
    background: #404040;
    min-width: 20px;
    min-height: 20px;
    border-radius:2px;
}

QScrollBar::add-line:horizontal {
    border: 1px solid #171717;
    background: #404040;
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border-radius:2px;
}

QScrollBar::sub-line:horizontal {
    border: 1px solid #171717;
    background: #404040;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
    border-radius:2px;
}

QScrollBar::left-arrow {
    image: url(:/pictos/left-arrow.png);
    border-radius:2px;
}

QScrollBar::right-arrow {
    image: url(:/pictos/right-arrow.png);
    border-radius:2px;
}

QScrollBar::add-line:vertical {
    border: 1px solid #171717;
    background: #404040;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    border-radius:2px;
}

QScrollBar::sub-line:vertical {
    border: 1px solid #171717;
    background: #404040;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
    border-radius:2px;
}

QScrollBar::up-arrow {
    image: url(:/pictos/up-arrow.png);
    border-radius:2px;
}

QScrollBar::down-arrow {
    image: url(:/pictos/down-arrow.png);
    border-radius:2px;
}

QTabBar::tab {
    color: #9c9c9c;
    font:bold;
    border-top: 2px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-bottom: 2px solid qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-left: 2px solid qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-right: 1px solid #171717;
    background-color: #454545;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height:60px;
    margin-bottom: 3px;
}

QTabWidget::pane {
    background-color: #454545;
    border-top: 2px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-bottom: 2px solid qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-left: 1px solid #171717;
    border-right: 2px solid qlineargradient(x1: 1, y1: 0, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    margin-left:-1px;
}

QTabBar::tab:!selected
{
    background-color:#323232;
    border-top: 1px solid #171717;
    border-bottom: 1px solid #171717;
    border-left: 1px solid #171717;
    border-right: 1px solid #171717;
}

QTabBar::tab:selected
{
    background-color:#454545;
    border-top: 2px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-bottom: 2px solid qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-left: 2px solid qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0.5 #171717,stop: 1.0 #9c9c9c);
    border-right:1px solid #454545;
}

QTabBar::tab:!selected:hover {
    border-top: 1px solid #e75f00;
    border-left: 1px solid #e75f00;
    border-bottom: 1px solid #e75f00;
}

QTableView {
    background-color: #242424;
    border: none;
    selection-background-color: #e75f00;
}

QTableView QTableCornerButton::section {
    background: #e75f00;
}

QToolBar {
    spacing: 1px;
}

QToolBar::separator {
    background-color:transparent;
    width:25px;
}

QWidget {
    color:#9c9c9c;
}

QWidget#border {
    background-color:#505050;
    border-radius:3px;
}

QWidget#content {
    background-color:#2C2C2C;
    border-radius:3px;
}

QWidget#debug {
    background-color:red;
}

QWidget#group {
    background-color:#333333;
    border-radius:3px;
}

QWidget#panel {
    background-color:#555555;
    border-radius:3px;
    border: 1px solid #101010;
    border-radius:3px;
}

QWidget#panelcontent {
    background-color:#3a3a3a;
    border-radius:3px;
}

QWidget#programbackground {
    background-color:#3a3a3a;
    border-radius:3px;
}

QWidget#scroll {
    background-color:#5F5F5F;
    border-radius:3px;
    border: 1px solid #101010;
    border-radius:3px;
}

QWidget#scrollbackground {
    background-color:#242424;
    border-radius:3px;
}

QWidget#scrollcontent {
    background: #454545;
    border-radius:3px;
}

QWidget#titlebar {
    background: #2c2c2c;
    border-top: 2px solid qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0.5 #171717,stop: 1.0 #666666);
    border-bottom: 2px solid qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #666666);
    border-left: 2px solid qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0.5 #171717,stop: 1.0 #666666);
    border-right: 2px solid qlineargradient(x1: 1, y1: 0, x2: 0, y2: 0,stop: 0.5 #171717,stop: 1.0 #666666);
}

QWidget#toolbarpanel {
    background-color:#3a3a3a;
}

/* FIXME use the proper widget to display a led */
QWidget#offled {
    background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0.2 #505050,stop: 0.5 #3a3a3a,stop: 1 #1C1C1C);
    border-radius:2px;
}

QWidget#greenled {
    background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0.2 #cff672,stop: 0.5 #95cd0e,stop: 1 #8ac300);
    border-radius:2px;
}

QWidget#orangeled {
    background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0.2 #e79e11,stop: 0.5 #e75f00,stop: 1 #d55400);
    border-radius:2px;
}

QWidget#led[active=true] {
    background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0.2 #e79e11,stop: 0.5 #e75f00,stop: 1 #d55400);
}

QWidget#led[active=false] {
    background:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0.2 #505050,stop: 0.5 #3a3a3a,stop: 1 #151515);
}

UiAnimation[dragged=true] {
    background-color:#e0e0e0;
}

UiAnimationGroup[active=true] {
    background-color:#e75f00;
}

UiMasterAnimationGroup[active=true] {
    background-color:#e75f00;
}

UiAnimationPicker#scrollcontent {
    background-color:#454545;
}

UiKnob {
    qproperty-indicator_color:#e75f00;
    qproperty-indicator_background_color:#4f4f4f;
    qproperty-button_color:#3a3a3a;
    qproperty-button_border_color:#101010;
    qproperty-needle_color:#CFCFCF;
    qproperty-reflect_color:#4E4E4E;
}

UiProgram[expanded=true] > QWidget > QWidget#programbackground {
    background-color:#404040;
}

UiProgram[expanded=false] > QWidget > QWidget#programbackground {
    background-color:#3a3a3a;
}

UiProgram[onair=true] > QWidget#panel {
    background-color:#e75f00;
    border:1px solid #e75f00;
}


